<a href="https://colab.research.google.com/github/benpettis/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/Ben_Pettis_of_LS_DS14_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [3]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-03-12 14:58:27--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.40.198
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.40.198|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  46.4MB/s    in 4.6s

2020-03-12 14:58:33 (42.4 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [4]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
!ls -lh *.csv

-rw-r--r-- 1  502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1  502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 root root  551M Mar 11 21:51 order_products__prior2.csv
-rw-r--r-- 1  502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 root root   24M Mar 11 21:51 order_products__train2.csv
-rw-r--r-- 1  502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 root root  104M Mar 11 21:51 orders2.csv
-rw-r--r-- 1  502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 root root  2.1M Mar 11 21:51 products2.csv
-rw-r--r-- 1  502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
!head *.csv

==> aisles.csv <==
aisle_id,aisle
1,prepared soups salads
2,specialty cheeses
3,energy granola bars
4,instant foods
5,marinades meat preparation
6,other
7,packaged meat
8,bakery desserts
9,pasta sauce

==> departments.csv <==
department_id,department
1,frozen
2,other
3,bakery
4,produce
5,alcohol
6,international
7,beverages
8,pets
9,dry goods pasta

==> order_products__prior2.csv <==
order_id,product_id,add_to_cart_order,reordered
2,33120,1,1
2,28985,2,1
2,9327,3,0
2,45918,4,1
2,30035,5,0
2,17794,6,1
2,40141,7,1
2,1819,8,1
2,43668,9,0

==> order_products__prior.csv <==
order_id,product_id,add_to_cart_order,reordered
2,33120,1,1
2,28985,2,1
2,9327,3,0
2,45918,4,1
2,30035,5,0
2,17794,6,1
2,40141,7,1
2,1819,8,1
2,43668,9,0

==> order_products__train2.csv <==
order_id,product_id,add_to_cart_order,reordered
1,49302,1,1
1,11109,2,1
1,10246,3,0
1,49683,4,0
1,43633,5,1
1,13176,6,0
1,47209,7,0
1,22035,8,1
36,39612,1,0

==> order_products__train.csv <==
order_id,product_id,add_to_cart_order,reordered
1,49302,1,1
1,11109,2,1
1,10246,3,0
1,49683,4,0
1,43633,5,1
1,13176,6,0
1,47209,7,0
1,22035,8,1
36,39612,1,0

==> orders2.csv <==
order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2539329,1,prior,1,2,08,
2398795,1,prior,2,3,07,15.0
473747,1,prior,3,3,12,21.0
2254736,1,prior,4,4,07,29.0
431534,1,prior,5,4,15,28.0
3367565,1,prior,6,2,07,19.0
550135,1,prior,7,1,09,20.0
3108588,1,prior,8,1,14,14.0
2295261,1,prior,9,1,16,0.0

==> orders.csv <==
order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2539329,1,prior,1,2,08,
2398795,1,prior,2,3,07,15.0
473747,1,prior,3,3,12,21.0
2254736,1,prior,4,4,07,29.0
431534,1,prior,5,4,15,28.0
3367565,1,prior,6,2,07,19.0
550135,1,prior,7,1,09,20.0
3108588,1,prior,8,1,14,14.0
2295261,1,prior,9,1,16,0.0

==> products2.csv <==
product_id,product_name,aisle_id,department_id
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13
3,Robust Golden Unsweetened Oolong Tea,94,7
4,Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce,38,1
5,Green Chile Anytime Sauce,5,13
6,Dry Nose Oil,11,11
7,Pure Coconut Water With Orange,98,7
8,Cut Russet Potatoes Steam N' Mash,116,1
9,Light Strawberry Blueberry Yogurt,120,16

==> products.csv <==
product_id,product_name,aisle_id,department_id
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13
3,Robust Golden Unsweetened Oolong Tea,94,7
4,Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce,38,1
5,Green Chile Anytime Sauce,5,13
6,Dry Nose Oil,11,11
7,Pure Coconut Water With Orange,98,7
8,Cut Russet Potatoes Steam N' Mash,116,1
9,Light Strawberry Blueberry Yogurt,120,16

Need product_id, product name from products.csv & order_products_prior/train.csv

In [0]:
import pandas as pd

products = pd.read_csv('products.csv')
products = products.drop(['aisle_id', 'department_id'], axis='columns')
order_products_prior = pd.read_csv('order_products__prior.csv')
order_products_train = pd.read_csv('order_products__train.csv')
order_products = pd.concat([order_products_prior, order_products_train])
order_products = order_products.drop(['order_id', 'add_to_cart_order', 'reordered'], axis='columns')
print(order_products.shape)
order_products.head()

(33819106, 1)

   product_id
0       33120
1       28985
2        9327
3       45918
4       30035

In [0]:
products.head()

   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

In [0]:
# only show products that have been ordered
condition = products['product_id'].isin(order_products['product_id'])
products_subset = products[condition]
products_subset

       product_id                                       product_name
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49683       49684          Vodka, Triple Distilled, Twist of Vanilla
49684       49685                 En Croute Roast Hazelnut Cranberry
49685       49686                                   Artisan Baguette
49686       49687         Smartblend Healthy Metabolism Dry Cat Food
49687       49688                             Fresh Foaming Cleanser

[49685 rows x 2 columns]

In [0]:
# merge order_products & products
final = pd.merge(order_products, products_subset, on='product_id', how='inner')

In [0]:
final.head()

   product_id        product_name
0       33120  Organic Egg Whites
1       33120  Organic Egg Whites
2       33120  Organic Egg Whites
3       33120  Organic Egg Whites
4       33120  Organic Egg Whites

In [0]:
# get counts of top 10 products
final['product_name'].value_counts()[:10]

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [0]:
# table2 -> tidy
table2 = table2.reset_index()
tidy2 = table2.melt(id_vars="index", value_vars=['John Smith', 'Jane Doe', 'Mary Johnson'])
tidy2

        index      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [0]:
tidy2 = tidy2.rename(columns={'index': 'trt', 'variable': 'name', 'value': 'result'})
tidy2

          trt          name  result
0  treatmenta    John Smith     NaN
1  treatmentb    John Smith     2.0
2  treatmenta      Jane Doe    16.0
3  treatmentb      Jane Doe    11.0
4  treatmenta  Mary Johnson     3.0
5  treatmentb  Mary Johnson     1.0

In [0]:
tidy2.trt = tidy2.trt.str.replace('treatment', '')
tidy2

  trt          name  result
0   a    John Smith     NaN
1   b    John Smith     2.0
2   a      Jane Doe    16.0
3   b      Jane Doe    11.0
4   a  Mary Johnson     3.0
5   b  Mary Johnson     1.0

In [0]:
# tidy -> table2
wide = tidy2.pivot_table(index='trt', columns='name', values='result')
wide

name  Jane Doe  John Smith  Mary Johnson
trt
a         16.0         NaN           3.0
b         11.0         2.0           1.0

In [0]:
#Load seaborn's flights dataset by running the cell below. Then create a pivot table 
#showing the number of passengers by month and year. Use year for the index and month for the columns. 
#You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.
import seaborn as sns
flights = sns.load_dataset('flights')
flights

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [0]:
# Flights Pivot Table

flights_pivot = flights.pivot_table(index='year', columns='month', values='passengers')
flights_pivot

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
import pandas as pd

In [0]:
ls -l

total 1594064
-rw-r--r-- 1  502 staff      2603 May  2  2017 aisles.csv
-rw-r--r-- 1  502 staff       270 May  2  2017 departments.csv
drwxr-xr-x 2  502 staff      4096 May  2  2017 instacart_2017_05_01/
-rw-r--r-- 1 root root  205548478 Oct 20  2017 instacart_online_grocery_shopping_2017_05_01.tar.gz
-rw-r--r-- 1 root root  577550706 Mar 11 21:51 order_products__prior2.csv
-rw-r--r-- 1  502 staff 577550706 May  2  2017 order_products__prior.csv
-rw-r--r-- 1 root root   24680147 Mar 11 21:51 order_products__train2.csv
-rw-r--r-- 1  502 staff  24680147 May  2  2017 order_products__train.csv
-rw-r--r-- 1 root root  108968645 Mar 11 21:51 orders2.csv
-rw-r--r-- 1  502 staff 108968645 May  2  2017 orders.csv
-rw-r--r-- 1 root root    2166953 Mar 11 21:51 products2.csv
-rw-r--r-- 1  502 staff   2166953 May  2  2017 products.csv

In [5]:
cd instacart_2017_05_01/

/content/instacart_2017_05_01

In [6]:
orders = pd.read_csv('orders.csv')
orders = orders.drop(['user_id', 'eval_set', 'order_number', 'order_dow', 'days_since_prior_order'], axis='columns')

orders.head()

   order_id  order_hour_of_day
0   2539329                  8
1   2398795                  7
2    473747                 12
3   2254736                  7
4    431534                 15

In [7]:
order_products_prior = pd.read_csv('order_products__prior.csv')
order_products_train = pd.read_csv('order_products__train.csv')
order_products = pd.concat([order_products_prior, order_products_train])
order_products = order_products.drop(['add_to_cart_order', 'reordered'], axis='columns')
order_products.head()

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035

In [8]:
products = pd.read_csv('products.csv')
products = products.drop(['aisle_id', 'department_id'], axis='columns')
condition = products['product_id'].isin(order_products['product_id'])
products_subset = products[condition]
products_subset

       product_id                                       product_name
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49683       49684          Vodka, Triple Distilled, Twist of Vanilla
49684       49685                 En Croute Roast Hazelnut Cranberry
49685       49686                                   Artisan Baguette
49686       49687         Smartblend Healthy Metabolism Dry Cat Food
49687       49688                             Fresh Foaming Cleanser

[49685 rows x 2 columns]

In [9]:
merged = (products_subset[['product_id', 'product_name']]
          .merge(orders[['order_id', 'order_hour_of_day']]
          .merge(order_products[['order_id','product_id']])))
merged.head()

   product_id                product_name  order_id  order_hour_of_day
0           1  Chocolate Sandwich Cookies   3139998                 11
1           1  Chocolate Sandwich Cookies   1977647                 17
2           1  Chocolate Sandwich Cookies    389851                 21
3           1  Chocolate Sandwich Cookies     63770                  6
4           1  Chocolate Sandwich Cookies    652770                 13

In [10]:
merged.drop(['order_id'], axis='columns')

          product_id                product_name  order_hour_of_day
0                  1  Chocolate Sandwich Cookies                 11
1                  1  Chocolate Sandwich Cookies                 17
2                  1  Chocolate Sandwich Cookies                 21
3                  1  Chocolate Sandwich Cookies                  6
4                  1  Chocolate Sandwich Cookies                 13
...              ...                         ...                ...
33819101       49688      Fresh Foaming Cleanser                  9
33819102       49688      Fresh Foaming Cleanser                 11
33819103       49688      Fresh Foaming Cleanser                  8
33819104       49688      Fresh Foaming Cleanser                 15
33819105       49688      Fresh Foaming Cleanser                 15

[33819106 rows x 3 columns]

In [0]:
vc = merged.product_name.value_counts()
final = merged[merged.product_name.isin(vc.index[vc.values > 2900])]

In [0]:
vc

Banana                             491291
Bag of Organic Bananas             394930
Organic Strawberries               275577
Organic Baby Spinach               251705
Organic Hass Avocado               220877
                                    ...
Cinnamon Rice Pudding Snacks            1
Organic Ice Cream Birthday Cake         1
Anjou Pear Hand Soap                    1
Jamaican Allspice                       1
Hot Chili with Beans                    1
Name: product_name, Length: 49685, dtype: int64

In [12]:
final

          product_id          product_name  order_id  order_hour_of_day
12081             34  Peanut Butter Cereal   3331846                 16
12082             34  Peanut Butter Cereal   1385910                 17
12083             34  Peanut Butter Cereal   2661186                 19
12084             34  Peanut Butter Cereal   3374094                 16
12085             34  Peanut Butter Cereal   1007973                 14
...              ...                   ...       ...                ...
33818809       49683        Cucumber Kirby   1251580                  8
33818810       49683        Cucumber Kirby    438707                 20
33818811       49683        Cucumber Kirby     36819                 11
33818812       49683        Cucumber Kirby    147354                 19
33818813       49683        Cucumber Kirby   1764570                  0

[22450886 rows x 4 columns]

In [20]:
final_mean = final['order_hour_of_day'].value_counts(normalize=True).sort_index()
final_mean

0     0.006649
1     0.003411
2     0.001995
3     0.001451
4     0.001537
5     0.002669
6     0.009094
7     0.028360
8     0.054279
9     0.076590
10    0.085389
11    0.084261
12    0.080458
13    0.082082
14    0.083207
15    0.082238
16    0.077921
17    0.063428
18    0.049444
19    0.037980
20    0.029955
21    0.025039
22    0.020054
23    0.012509
Name: order_hour_of_day, dtype: float64

In [22]:
#import timeit
#start = timeit.timeit()
by_hours = pd.crosstab(final.order_hour_of_day, final.product_name, normalize='index')
by_hours
#by_hours.append(final['product_name'].value_counts())
#end = timeit.timeit()
#print(end - start)

product_name       0% Fat Free Organic Milk  ...  with Crispy Almonds Cereal
order_hour_of_day                            ...
0                                  0.000174  ...                    0.000214
1                                  0.000131  ...                    0.000065
2                                  0.000089  ...                    0.000156
3                                  0.000154  ...                    0.000215
4                                  0.000145  ...                    0.000174
5                                  0.000217  ...                    0.000200
6                                  0.000230  ...                    0.000196
7                                  0.000237  ...                    0.000209
8                                  0.000217  ...                    0.000249
9                                  0.000206  ...                    0.000338
10                                 0.000203  ...                    0.000288
11                                 0.000158  ...                    0.000255
12                                 0.000167  ...                    0.000204
13                                 0.000161  ...                    0.000202
14                                 0.000154  ...                    0.000187
15                                 0.000149  ...                    0.000183
16                                 0.000179  ...                    0.000149
17                                 0.000181  ...                    0.000133
18                                 0.000160  ...                    0.000117
19                                 0.000176  ...                    0.000082
20                                 0.000208  ...                    0.000107
21                                 0.000203  ...                    0.000100
22                                 0.000160  ...                    0.000155
23                                 0.000192  ...                    0.000196

[24 rows x 2051 columns]

In [23]:
final['product_name'].value_counts()[:10]

KeyError: ignored

In [16]:

#start = timeit.timeit()
by_hours = final.groupby(['order_hour_of_day', 'product_name']).size().unstack(fill_value=0)
by_hours
#end = timeit.timeit()
#print(end - start)

product_name       0% Fat Free Organic Milk  ...  with Crispy Almonds Cereal
order_hour_of_day                            ...
0                                        26  ...                          32
1                                        10  ...                           5
2                                         4  ...                           7
3                                         5  ...                           7
4                                         5  ...                           6
5                                        13  ...                          12
6                                        47  ...                          40
7                                       151  ...                         133
8                                       265  ...                         304
9                                       354  ...                         582
10                                      389  ...                         552
11                                      298  ...                         483
12                                      301  ...                         368
13                                      297  ...                         373
14                                      287  ...                         350
15                                      275  ...                         337
16                                      313  ...                         260
17                                      258  ...                         189
18                                      178  ...                         130
19                                      150  ...                          70
20                                      140  ...                          72
21                                      114  ...                          56
22                                       72  ...                          70
23                                       54  ...                          55

[24 rows x 2051 columns]

In [0]:
timeit.timeit()

0.011421040995628573

In [0]:
timeit.timeit()

0.014230667002266273

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [34]:
##### YOUR CODE HERE #####

orders2 = pd.read_csv('orders.csv')
orders2 = orders2.drop(['order_id', 'eval_set', 'order_dow'], axis='columns')
condition = (orders2['days_since_prior_order'] == 0)
orders2_subset = orders2[condition]
orders2_subset.head()

     user_id  order_number  order_hour_of_day  days_since_prior_order
8          1             9                 16                     0.0
43         4             5                 13                     0.0
189       17            30                 15                     0.0
296       24            19                 16                     0.0
337       27            24                 15                     0.0

In [35]:
# check for duplicates
duplicates = orders2_subset[orders2_subset.duplicated(['user_id'])]
 
print(duplicates)

         user_id  order_number  order_hour_of_day  days_since_prior_order
342           27            29                 14                     0.0
355           27            42                 14                     0.0
356           27            43                 15                     0.0
362           27            49                 14                     0.0
382           27            69                 14                     0.0
...          ...           ...                ...                     ...
3420854   206200            16                 13                     0.0
3420980   206206            47                 17                     0.0
3420985   206206            52                 19                     0.0
3420991   206206            58                 15                     0.0
3421001   206206            68                 20                     0.0

[34538 rows x 4 columns]

In [45]:
orders2_subset = orders2_subset.groupby(['user_id', 'order_number'])['order_hour_of_day'].min().reset_index()
orders2_subset.drop(['order_hour_of_day'], axis='columns')

       user_id  order_number
0            1             9
1            4             5
2           17            30
3           24            19
4           27            24
...        ...           ...
67750   206206            47
67751   206206            52
67752   206206            58
67753   206206            68
67754   206208            26

[67755 rows x 2 columns]